body{
  display: flex !important;
    flex-direction: column;
}

.main {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background: url('../public/assets/image.jpg');
  background-size: cover;
    min-height: 100vh;
      flex: 1 0 auto;
}


h2 {
  text-align: center;
  color: white !important;
  height: 100vh;
  padding-top: 60px;
}
