.main {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background: url('../public/assets/image.jpg');
  background-size: cover;
}

.container {
  width: 100%;
  padding: 1em;
}

.grid {
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  justify-content: center;
}

h2 {
  /* background-color: ; */
  text-align: center;
  color: white !important;
  height: 100vh;
  padding-top: 60px;
}
